/*
Theme Name:WP ANGELS
Description: Yes, clone wae!
Version:1.0

Author: Credit KYAI KANJENG
License: GNU/GPL Version 2 or later
License URI: http://www.gnu.org/licenses/gpl.html
*/

*{margin:0;padding:0;}
body{background-color: #656161;font-family: 'Allerta', sans-serif;color:#bcbcbc;}
a{color: #3f7cc7;text-decoration:none;}
a:hover{color:#aaa9a9;}h1,h2,h3,h4,h5,p{margin:0;}h1{}
.cl{clear:both;}
.right{float:right;}
.left{float:left;}
img{border:none;}
#kyj_container{width: 907px;margin: 0 auto;padding: 0 0 4px 0;margin-top: 4px;border-radius: 4px;}
#kyj_header{padding: 10px 4px 4px 4px;height: 25px;background: #3E3B3A;border-bottom: 5px solid #3f7cc7;}
#wrap{width: 936px;background: #333333;margin: 0 auto;box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.75);}
.h1_head{margin: 0 auto;width: 907px;}
.h1_header{width: 350px;float: left;margin-top: -19px;}
.h1_header h1 a{color: #fff;text-transform: uppercase;font-size: 16px;padding: 0px;}
.h1_header h1 a:hover{color: #bcbcbc;}
.searchxhouse{float: left;margin-top: 10px;}
.searchxhouseform{border: 1px solid #3D8901;padding: 6px;border-radius: 4px;width: 200px;margin-top: -7px;color: #616161;font-family: 'Allerta', sans-serif;}
#kyj_midcontent{padding: 0 0 4px 0;}
#kyj_midcontent h1{padding: 5px 5px 5px 0px;font-size: 15px;margin-bottom: 3px;font-weight: normal;font-family: 'Allerta', sans-serif;}
.adr_contentfront{margin-left: 0;margin-top: 4px;}
#leftxhouse{width: 728px;float: left;margin-bottom: 20px;padding: 0 0 10px 0;}
#leftxhouse h1{padding: 5px;font-size: 18px;margin-bottom: 10px;background: #3E3B3A;text-transform: capitalize;color: #fff;}
.latestxhouse{border-top: 1px solid #ECF0F1;padding: 10px 0px;}
.latestxhouse h2{font-size: 20px;line-height: 22px;}
.metaxhouse{font-size: 11px;color: #A0A0A0;margin: 5px 0px;}
.imgxhouse{float: left;}
.imgxhouse img{width: 540px;height: 358px;}
.featuredxhouse{text-align: center;}
.featuredxhouse img{height: 117px;width: 170px;text-align: center;}
.tagxhouse{margin: 10px 0px;font-size: 11px;}
.randomxhouse{background: #3E3B3A;margin: 0px 10px 10px 0px;padding: 6px;width: 280px;float: left;height: 240px;filter: (100%);}
.randomxhouse h2{text-align: center;text-transform: uppercase;font-size: 12px;height: 14px;overflow: hidden;width: 269px;padding: 0px 5px 10px;font-weight: 600;}
.randomxhouse h2 a:hover{color: #828282}
.randomxhouse h3{color: #A0A0A0;font-size: 10px;margin-bottom: 10px;margin-top: 5px;}
.rxhouse{font-size: 18px;border-bottom: 2px solid #ff6600;margin-bottom: 20px;}
.rxhouse p{margin-bottom: 10px;}
.sdkonten h2{padding-left: 10px;text-transform: capitalize;font-size: 15px;}
.ketxhouse{margin: 45px 0px;}
.ketxhouse span a {font-size: 10px;color:#666;}
.picxhouse img{float: left;}
.xhouse_up{font-size: 14px;margin-bottom: 0px;font-weight: 600;}
.xhouse_ttsd{font-size: 11px;text-transform: capitalize;color: #A0A0A0;font-weight: 200;text-align: left;margin-top: 5px;margin-bottom: 10px;}
.xhouse_ttsd h4:hover{color:#bcbcbc; }
.arrow{margin-top:4px;margin-left:3px;position:absolute;width:0;height:0;border:4px solid transparent;border-top:4px solid #ddd;}
.cathead{color:#aaa9a9;padding:15px;display:block;cursor:pointer;}
.cathead:hover .catlist,.cathead:hover .catlist{display:block;}
.catlist{top:42px;display:none;position:absolute;background:#0C0C0C;margin-left:-15px;z-index:6;}
.catlist ul{-moz-box-shadow:0 2px 6px #0C0C0C;box-shadow:0 2px 6px #0B0B0B;min-width:195px;}
.catlist li {display:block;border-bottom:1px solid #333;}
.catlist li a{padding:15px 50px 15px 15px !important;}
.headxhouse{font-size:18px;font-weight:200;color:#666;text-transform: uppercase;margin-bottom: 10px;}
.mtxhouse{font-size: 11px;color: #A0A0A0;font-weight: 200;margin-bottom: 10px;}
.meta{margin-bottom: 10px;margin-top: 10px;background: #3E3B3A;padding: 5px;}
.xhouseimg img{width: 100%;height: auto;margin-bottom: 5px;}
figcaption p{margin-bottom: 10px;font-size: 12px;text-transform: uppercase;text-align: center;font-weight: bold;}
.xhousecontent p{text-align: justify;font-size: 12px;}
.r_post h4{font-size: 13px;letter-spacing: 1px;font-weight: 400;margin-bottom: 10px;background: #3E3B3A;padding: 5px;}
#post-navigator{clear: both;height: auto;width: 100%;display: block;font-size: 12px;padding-top: 30px;text-align: center;padding-bottom: 30px;}
.wp-pagenavi{width:100%;clear:both;height:auto;margin:0 auto;padding:.5em 0;font-weight:bold;}
.pages{width: auto;height: auto;margin: 0px 3px 0px 0px;padding: 5px 8px;}
.current{margin: 0px;padding: 10px 8px;border-radius: 8px;border: 1px solid #00d3ff;}
.wp-pagenavi a{text-decoration: none;display: inline;margin: 0px;padding: 10px 8px;border: 1px solid #bcbcbc;border-radius: 8px;}
.wp-pagenavi a:hover{color:#bcbcbc;}
#post-navigator .alignleft a,#post-navigator .alignright a{color:#EB8D02;height:auto;width:auto;text-decoration:none;display:block;background-color:#000;margin:0;padding:5px;}
#post-navigator .alignleft a:hover,#post-navigator .alignright a:hover{color:#fff;text-decoration:none;background-color:#000;}
#xhouseside{float:right;width: 170px;}
.categorybox{padding: 5px 0px 0px;}
.xhousecontent{
    background: #3E3B3A;
    padding: 5px;
}
.xhousecontent h3{padding-left: 5px;}
.categorybox ul {padding: 5px 15px 0 15px;}
.categorybox ul a{font-size: 12px;font-weight: 200;}
.categorybox ul a:hover{color: #bcbcbc;}
.categorybox ul li{list-style-type: square;}
.postlist{margin-bottom: 10px;}
.popularlink{margin:5px 0;padding: 5px 0px;height: 12px;overflow: hidden;}
.email, .popularlink h3:hover{color:#bcbcbc;}
.popularlink h4 a{font-size: 12px;font-weight: 200;}
.popularlink h4 a:hover{color: #bcbcbc; }
.popularlink span a{font-size:11px;font-family: 'Allerta', sans-serif;color:#8e8c8c;}
.popularlink span a:hover{text-decoration:underline;}
#foo_xhouse{margin:0 auto;color:#aaa9a9;text-align:center;background: #3E3B3A;}
#foo_xhouse .menu {font-size: 11px;overflow: hidden;padding: 5px 0px;}
#foo_xhouse .menu li {margin-right: 15px;text-align: center;display: inline-block;}
#foo_xhouse .menu li a{color: #fff;}
#foo_xhouse .menu li a:hover{color: #bcbcbc;}
.dc,.foo_xhouse-copy {font-size: 13px;color: #999;}
.foo_xhouse-mid{padding: 10px 0px;}
.prevnext{letter-spacing:1px;font-size:12px;margin:8px auto 0;padding:8px 0;border-bottom: 1px solid #e5e5e5;border-top: 1px solid #e5e5e5;font-family: 'Allerta', sans-serif;color: #aaa9a9;margin-bottom: 15px;}
.prev{width:48%;float:left;}
.prevat a{width: 50%; float: left;text-align: left;}
.nextat a{width: 50%;float: right;text-align: right;}
.prevat a:hover,.nextat a:hover{text-decoration: underline;}
.next{width:48%;float:right;text-align:right;}
.prev a, .next a{padding:6px 0;}
.prev a:hover, .next a:hover{text-decoration:underline;}
.xhousecl{margin:20px 0px 10px 0px;max-width: 733px;}
.xhousecl img{margin: 15px 5px 0px 0;width: 174px;height: 111px;}
.xhousecl h3{font-weight: 400;font-family: 'Allerta', sans-serif;margin-bottom: 15px;background: #3E3B3A;padding: 5px;}
.xhousecl img:hover{-moz-box-shadow:0 4px 6px #0B0B0B;box-shadow:0 4px 6px #0B0B0B;}
.content{text-align:left;}
.content p{margin:5px 0;line-height:20px;text-align:justify;}
.content p a:hover{text-decoration:underline;}
.contentlist{text-align:left;}
.breadcrumbs{font-size: 11px;color: #A0A0A0;font-weight: 200;}
.breadcrumbs a:hover{color:#666;}
.crent{color:#ccc;}
.desbox{width:734px;height:105px;margin-top:5px;}
.downloadbtn{width:120px;text-align:center;}
.downloadbtn a{background:#333;border-radius:4px;color:#aaa9a9;padding:10px 0;display:block;letter-spacing:1px;transition:letter-spacing 0.1s linear;-moz-box-shadow:0 4px #777;box-shadow:0 4px #777;}
.downloadbtn a:hover{letter-spacing:2px;transition:letter-spacing 0.1s linear;}
.downloadbtn a:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.lbox{width: 100%;margin:10px 10px 5px 0px;/* display: inline-block; */}
.lbox p{margin: 0px 0px 10px;font-size: 16px;padding-left: 10px;}
.sharebtn ul li {display: inline-block;}
.sharebtn a{color:#fff;text-align:center;letter-spacing:1px;transition:letter-spacing 0.1s linear;margin-bottom:6px;}
.facebook{background-color: #305891;display: block;padding: 8px 14px;font-size: 12px;}
.facebook:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.pinterest{background-color: #CB2027;display: block;padding: 8px 14px;font-size: 12px;}
.pinterest:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.twitter{background-color: #2CA8D2;display: block;padding: 8px 14px;font-size: 12px;}
.twitter:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.googleplus{background-color: #F63E28;display: block;padding: 8px 14px;font-size: 12px;}
.googleplus:active{position:relative;top:4px;-moz-box-shadow:0 0px #777;box-shadow:0 0px #777;}
.rbox{border:1px solid #a7a7a7;background:#222;float:right;width:575px;min-height:167px;margin:5px 5px 5px 0;}
.rbox p{margin:5px 0;line-height:20px;padding:0 5px;}
.rbox a{text-decoration:none;font-size:14px;}
.rbox a:hover{text-decoration:underline;}
.lads{float:left;width:740px;height:90px;}
.rads{letter-spacing: 1px;font-size: 11px;text-transform: uppercase;padding-left: 10px;padding-right: 10px;}
.sitemap_info{font-size:11px;}
.title-h2{padding: 6px 25px 0;float: left;}
.title-h2 h2 {font-size: 16px;font-weight: 300;letter-spacing: 1px;text-align: left;overflow: hidden;height: 24px;}
.title-h2 h2 a {font-size: 16px;font-weight: 300;letter-spacing: 1px;text-align: left;overflow: hidden;height: 22px;margin-left: -5px;}
.title-h2 h2 a:hover{color:#bcbcbc }
.iklan{width: 728px; height: 90px; }
.fb{margin-top: 5px;}
.dwld_wall{padding: 10px;}
#leher{padding-left: 10px}
.pop_right{float: right;margin-top: -4px;margin-right: 8px;}
.pop_right a{color: #fff;font-size: 13px;}
.pop_right a:hover{color:#bcbcbc};
.imgallery {display: inline-flex;margin-top: 5px;}
.randomindex{list-style: none;}
.kyjmedialink {width: 48%;float: left;margin-bottom: 8px;background: #3E3B3A;margin-right: 6px;padding: 5px;font-size: 12px;}
.sidebarbox{background: #3E3B3A;padding: 5px;}